.cartMenu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 600px;
    max-width: 80%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s ease;
    z-index: 1000;
    transform: translateX(100%);
    overflow-y: auto;

    &.open {
        transform: translateX(0);
    }

    &::-webkit-scrollbar {
        width: 5px !important;
    }

    .cartMenuH {
        position: absolute;
        top: 20px;
        right: 20px;
        background: none;
        border: none;
        font-size: 2rem;
        color: #333;
    }

    .closeButton {
        position: absolute;
        top: 20px;
        left: 20px;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        color: #333;
        &:hover {
            color: #888;
        }
    }

    .cartContent {
        padding: 100px 20px 0 20px;

        .cartItem {
            display: flex;
            justify-content: space-between;
            padding: 10px 0;
            border-bottom: 1px solid #eee;

            .itemName {
                font-weight: bold;
                color: #333;
            }

            .itemQuantity {
                color: #666;
            }

            .itemPrice {
                color: #2ecc71; // A nice green for prices
            }
        }

        .emptyMessage {
            text-align: center;
            color: #999;
            font-size: 1.2rem;
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1px);
    z-index: 900;
    display: block;
}