$white: #ffffff;
$dark: #000;
$text-color: #949494;
$font-family: --font-rubik;

.mainHeader {
    width: 100%;
    position: fixed;
    z-index: 9999;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(23, 41, 54, .08);
}

.level1 {
    height: 50px;
    background-color: $white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: height 0.7s ease;
    padding: 0 70px;
    
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    max-width: 1920px;

    &.hide {
        height: 0;
        overflow: hidden;
    }

    .languageCurrency {
        display: flex;
        gap: 5px;

        .dropdown {
            position: relative;
            font-family: var(--font-mulish);

            .selected {
                padding: 5px 10px;
                margin: 0px 5px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                display: flex;
                align-items: center;
                gap: 5px;
                transition: background-color 0.6s, border 0.6s;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.1);
                }
            }

            .arrowDown, .arrowUp {
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                transition: transform 0.6s;
            }

            .arrowDown {
                border-top: 5px solid $dark;
                transform: rotate(0deg);
                &.active {
                    transform: rotate(180deg);
                }
            }

            .arrowUp {
                border-bottom: 5px solid $dark;
                transform: rotate(0deg);
            }

            .dropdownList {
                position: absolute;
                top: 100%;
                right: 0;
                background-color: $white;
                border: none;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
                z-index: 1;
                border-radius: 5px;
                overflow: hidden;
                transition: max-height 0.6s ease-out;
                max-height: 0;
                opacity: 0;

                &.open {
                    max-height: 200px;
                    opacity: 1;
                }

                .dropdownItem {
                    padding: 10px;
                    cursor: pointer;
                    transition: background-color 0.6s;
                    width: 100px;

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.05);
                    }
                }
            }
        }
    }
}

.level2Container {
    background-color: #000;
}

.level2 {
    background-color: $dark;
    color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    transition: height 0.7s ease;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1920px;

    .phoneLogo {
        display: none;

        font-size: 2rem;
        color: $white;
        text-decoration: none;

        a {
            color: inherit;
        }
    }

    .logo {
        font-size: 2rem;
        color: $white;
        text-decoration: none;

        a {
            color: inherit;
        }
    }

    .logoImage {
        height: 80%;
        max-width: 100%;
        object-fit: contain;
        transition: height 0.7s ease;
    }

    .leftButtons {
        display: flex;
        align-items: center;
    }

    .rightButtons {
        display: flex;
        align-items: center;

        .button {
            display: flex;
            flex-direction: column;

            span {
                font-size: 0.85rem;
                margin-top: 2px;
                font-family: var(--font-rubik);
                font-weight: 300;
            }
        }
    }

    .button {
        background: inherit;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        margin: 0 5px;
        font-family: --font-rubik;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: $dark;
            color: $white;
        }

        svg {
            margin: 0;
            font-family: var(--font-rubik);
            font-weight: 300;
        }

        span {
            font-size: 1.2rem;
        }
    }

    .leftButtons .button {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            margin-right: 5px;
        }

        span {
            font-family: var(--font-rubik);
            font-weight: 300;
            font-size: clamp(15px,2vw + 1px,18px);
            color: rgba(245, 247, 248, 1);
        }
    }

    @media (max-width: 768px) {
        padding: 5px;
        max-height: 70px !important;

        .logo {
            display: none;
        }

        .leftButtons, .rightButtons {
            justify-content: center;
        }

        #contactbutton {
            display: none;
        }

        .button {
            padding: 8px 12px;
            margin: 0;
            font-size: 1rem;
        }

        .button span {
            font-size: 0.9rem;
        }

        .logoImage {
            max-height: 50px !important;
        }

        span {
            display: none;
        }

        .phoneLogo {
            font-size: 1.5rem;
            display: flex;
        }
    }

    @media (max-width: 480px) {


        .logo {
            font-size: 1.2rem;
        }

        span {
            display: none;
        }

        #contact-button {
            display: none;
        }
    }
}

.level3 {
    height: 70px;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(1, 1, 1, 0.2);

    .nav {
        margin: 0 auto;

        ul {
            list-style: none;
            display: flex;
            gap: 50px;

            a {
                color: #2c2e35;
                font-family: var(--font-rubik);
                font-size: clamp(15px,2vw + 1px,18px);
                font-weight: 300;
                overflow: hidden;
                padding-bottom: 2px;
                position: relative;
                text-decoration: none;
                text-transform: uppercase;
                transition: all .3s ease;

                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    bottom: 0;
                    left: 0;
                    background-color: $text-color;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform 0.25s ease-in;
                }

                &:hover {
                    color: $text-color, 10%;
                    &::after {
                        transform: scaleX(1);
                    }
                }

                &:not(:hover) {
                    &::after {
                        transform: scaleX(0);
                        transform-origin: right;
                        transition: transform 1s ease-out;
                    }
                }
            }
        }
    }
}

.logo {
    display: flex;
    align-items: center;

    .logoImage {
        height: auto;
        max-height: 100px;
        max-width: 100%;
        object-fit: contain;
        transition: all 0.3s ease;
        display: flex;
    }
}

@media (max-width: 768px) {
    .level3 {
        display: none;
    }

    .logo {
        font-size: 1.5rem;
    }

    .nav {
        ul {
            flex-direction: column;
            gap: 10px;
            align-items: center;

            a {
                font-size: 1rem;
            }
        }
    }

    .level1 {
        padding: 0 5px;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .logo {
        font-size: 1.8rem;
    }

    .nav {
        ul {
            a {
                font-size: 1.1rem;
            }
        }
    }
}

@media (min-width: 1201px) {
    .nav {
        ul {
            gap: 30px;
        }
    }
}